@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

*{
    font-family: 'Poppins';
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(cheese-background-image.jpg);
    background-size: contain;
    background-clip: border-box;
    background-attachment: fixed;
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.section-container{
    width: 90%;
    height: 85%;
    background-color: #e8cd1e;
    border: 8px solid #e8a51e;
    opacity: 95%;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.navbar{
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #e8a51e;
    border-radius: 8px;
    box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, 0.3);
}

.logo a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffdd00;
}
.cheese-icon{
    font-size: 24px;
    padding: 8px;
}
.logo h2{
    font-size: 26px;
}

.links{
    padding: 5px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.links a{
    text-decoration: none;
    color: #ffdd00;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 100vmax;
}
.links a:hover{
    background-color: #ffdd00;
    color: #e8a51e;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
    transition: ease-in 0.2s;
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    padding: 5px 10px 5px 5px;
    background-color: #ffdd00;
    border-radius: 8px;
}
.search input{
    border: none;
    outline: none;
    width: 200px;
    font-size: 18px;
    padding: 5px;
    color: #e8a51e;
    background-color: transparent;
}
.search input::placeholder{
    color: #e8a51e;
    opacity: 70%;
}
.search .searchbtn{
    background-color: transparent;
    border: none;
    padding-left: 10px;
}
.search .search-icon{
    font-size: 24px;
}
