@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

*{
    font-family: 'Poppins';
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(cheese-background-image.jpg);
    background-size: contain;
    background-clip: border-box;
    background-attachment: fixed;
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.section-container{
    width: 90%;
    height: 85%;
    background-color: rgba(253, 216, 31, 1);
    border: 8px solid #e8a51e;
    opacity: 95%;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 30px;
}

.navbar{
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #e0990b;
    border-radius: 8px;
    box-shadow: 3px 3px 0px 2px rgba(0, 0, 0, 0.3);
}

.logo a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffff00;
    font-weight: 700;
}
.cheese-icon{
    font-size: 24px;
    padding: 8px;
}
.logo h2{
    font-size: 26px;
}

.links{
    padding: 5px;
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.links a{
    text-decoration: none;
    color: #ffff00;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 100vmax;
    letter-spacing: 1.5px;
}
.links a:hover{
    background-color: #ffdd00;
    color: #ee9300;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
    transition: ease-in 0.2s;
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    padding: 5px 10px 5px 5px;
    background-color: #ffdd00;
    border-radius: 8px;
}
.search input{
    border: none;
    outline: none;
    width: 200px;
    font-size: 18px;
    padding: 5px;
    color: #e8a51e;
    background-color: transparent;
}
.search input::placeholder{
    color: #e8a51e;
    opacity: 70%;
}
.search .searchbtn{
    background-color: transparent;
    border: none;
    padding-left: 10px;
}
.search .search-icon{
    font-size: 24px;
    color: #e0990b;
}

.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -16%;
    width: 88%;
    background-color: #e0990b;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 5px 10px 2px 0 rgba(0, 0, 0, 0.3);
}
.quote-icon-left{
    position: relative;
    top: 10px;
    left: -40%;
    font-size: 80px;
    color: rgb(200, 107, 1);
    z-index: 2;
}
.quote-icon-right{
    position: relative;
    top: -70px;
    right: -40%;
    font-size: 80px;
    color: rgb(200, 107, 1);
    z-index: 4;
}
.intro .introtext{
    position: relative;
}
.intro .introhead{
    color: #ffe749;
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 3px solid #ffdd00;
}
.intro .intropara{
    color: #ffdd00;
    padding-top: 40px;
    font-size: 18px;
}

.intro .introimg{
    position: relative;
    right: 30px;
    top: 5px;
}
.introimg img{
    width: 350px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.3);
}

.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.about-container .aboutheader{
    position: relative;
    top: -10px;
    font-family: 60px;
    font-style: bold;
    font-size: 26px;
    color: #cb7d00;
}
.about-container .aboutfooter{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}
.aboutcard{
    display: block;
    background-color: #e0990b;
    padding: 10px;
    border-radius: 12px;
    width: 360px;
    border: 8px solid #ffbd2e;  
    margin-left: 30px;
    margin-right: 30px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 0px 3px rgba(0, 0, 0, 0.3);
}
.aboutcard .abouticon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-bottom: 3px solid #ffdd00;
}
.aboutcard .abouticon .icon{
    font-size: 60px;
    padding: 30px;
    color: #1f1300;
}
.aboutcard .abouttext{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutcard .abouttext .abouttexthead{
    font-size: 20px;
    padding: 30px;
    color: #ffe749;
    border-bottom: 3px solid #ffdd00;
}
.aboutcard .abouttext .abouttextpara{
    text-align: center;
    padding-top: 30px;
    color: #ffdd00;
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.contact-container .contactheader{
    color: #cb7d00;
    font-weight: 900;
    font-size: 26px;
    position: relative;
    top: -60px;
}
.contact-container .contactfooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0990b;
    width: 130%;
    padding: 50px;
    border-radius: 15px;
}
.contactfooter .contactinfo .shop{
    font-size: 28px;
    font-weight: 900;
}
.contactfooter .contactinfo .address{
    font-size: 18px;
}
.subscription{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    top: -30px;
}
.subscription .subshead{
    padding-bottom: 10px;
    font-size: 20px;
    position: relative;
    left: -50px;
}
.subscription .subsfoot{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.subsfoot .inputbox{
    height: 60px;
    width: 320px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: absolute;
    margin-left: -50px;
}
.subsfoot .inputbox input{
    width: 300px;
    padding: 8px;
    font-size: 18px;
    border: none;
    outline: none;
    position: absolute;
    border-radius: 8px;
    text-indent: 5px;
    background: transparent;
    border: 5px solid #ffdd00;
    color: #1f1300;
}
.subsfoot .inputbox .label{
    position: absolute;
    left: 15px;
    font-size: 16px;
    background: #e0990b;
    padding: 0px 8px ;
    color: #ffdd00;
}
.subsfoot .input:focus ~ .label,
.input:not(:placeholder-shown).input:not(:focus) ~ .label{
    top: -6px;
    font-size: 16px;
    transition: 0.5s ease-in-out;
}
.subsfoot button{
    margin-top: 20px;
    width: 320px;
    position: relative;
    top: 60px;
    left: -50px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #ffdd00;
    box-shadow: 2px 2px 0px 3px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-weight: 900;
}
.subsfoot button:focus{
    animation-name: button-animate;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
@keyframes button-animate {
    50%{
        top: 62px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
    }
    100%{
        top: 60px;
        box-shadow: 2px 2px 0px 3px rgba(0, 0, 0, 0.3);
    }
}
