@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');


.backbtn{
    padding: 8px 13px;
    border-radius: 100vmax;
    position: relative;
    left: 60px;
    top: 10px;
    font-size: 18px;
    background-color: #e8a51e;
    border: none;
    outline: none;
    box-shadow: 2px 3px 0px 4px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
.backbtn a{
    text-decoration: none;
    color: #5e4005;
}
.backbtn:focus{
    animation-name: backbtnanimate;
    animation-duration: 0.2s;
}

.products-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.productcard{
    width: 250px;
    height: 200px;
    background-color: #e0990b;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    border: 5px solid #ce8a00;
}
.product-row{
    width: 98%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.productcard .productimg{
    width: 100%;
    height: 80%;
    background-color: #eea30d;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.productimg img{
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}
.productcard .productname{
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productname a{
    color: #5e4005;
    font-size: 20px;
    font-weight: 600;
}

@keyframes backbtnanimate {
    50%{
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
        top: 12px;
    }
    100%{
        box-shadow: 2px 3px 0px 4px rgba(0, 0, 0, 0.7);
        top: 10px;
    }
}
